html {
    width: 100%;                    
    height: 100vh;  
}

body {
    margin: 0;                      
    height: 100%;
    text-align: center;                   
}

.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
    "head head head"
    "panleft mainbody panright"
    "foot foot foot";
}

.header {
    background-color: darkgray;                             
    grid-area: head;                
}

.footer {
    background-color: darkgray;
    grid-area: foot;
}

.panel {                            
    background: lightgray;                             
}

.left {                    
    grid-area: panleft;
}

.right {
    grid-area: panright;
}

.main {
    grid-area: mainbody;
}